@charset "UTF-8";
body {
  background-color: #96514d;
}
 
#wrap {
  width: 1200px;
  margin: auto;
  background-color: #fbfaf5;
  border: 10px dashed black;
  padding: 50px;
}
 
header {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: #432f2f;
  color: white;
  border-radius: 50px;

}
 
main {
  padding: 40px;
  height : 400px;
}
 
footer {
  padding: 40px;
  height: 40px;
  background-color : #432f2f;
  color: white;
}

.circle img {
  border-radius: 40%;
  width: 300px;
}